            </div>
          </div>
        </div>
        <div id="left" style="border: 1px red;">
          <div class="menu_box">
<a name="cp-menu" />
<div class="menutitle"><div>
<h2 id="cp-menu-overview">[%dir%]</h2>
<a href="#cp-skip-overview" class="cp-doNotDisplay">Skip menu "[%module%]"</a>
</div></div>
<ul>
{%this_module%}
</ul>



<a name="cp-skip-information"/>
<div class="cp-doNotDisplay">
  <h2>Global navigation links</h2>
  <ul>
    <li><a href="http://www.kde.org/" accesskey="8">KDE Home</a></li>
    <li><a href="http://accessibility.kde.org/" accesskey="9">KDE Accessibility Home</a></li>
    <li><a href="/media/accesskeys.php" accesskey="0">Description of Access Keys</a></li>
    <li><a href="#cp-content">Back to content</a></li>
    <li><a href="#cp-menu">Back to menu</a></li>
  </ul>
</div>

          </div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
    <div id="end_body"></div>

    <div id="footer"><div id="footer_text">
        Maintained by <a href="mailto:&#x61;&#x6B;&#x61;&#100;&#101;&#x6D;&#121;&#x2D;&#x74;&#x65;&#97;&#109;&#x40;&#x6B;&#100;&#x65;&#x2E;&#111;&#x72;&#103;">the aKademy team</a><br />
        KDE<sup>&#174;</sup> and <a href="/media/images/kde_gear_black.png">the K Desktop Environment<sup>&#174;</sup> logo</a> are registered trademarks of <a href="http://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
        <a href="http://www.kde.org/contact/impressum.php">Legal</a>
    </div></div>
  </div>

<!--
WARNING: DO NOT SEND MAIL TO THE FOLLOWING EMAIL ADDRESS! YOU WILL
BE BLOCKED INSTANTLY AND PERMANENTLY!
<a href="mailto:aaaatrap-45169946c1014006@kde.org">Block me</a>
WARNING END
-->

</body>
</html>
